[Unit]
Description=Agent Zero
After=network.target

[Service]
User=myuser
Group=mygroup
WorkingDirectory=/home/myuser/agent-zero
ExecStart=/bin/bash -c "source /home/myuser/agent-zero/.venv/bin/activate && python -m gunicorn --workers 1 --bind :5000 --threads 8 --timeout 0 --limit-request-line 0 'app:app'"
Restart=always

[Install]
WantedBy=multi-user.target

